* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
#btn1 {
  padding: 2vw;
  background-color: rgb(73, 73, 255);
  border: 0;
  border-radius: 10px;
  font-size: 1.1vw;
  color: rgb(210, 210, 210);
}

.makeRed {
  color: red;
}
.error {
  color: red;
  font-size: 12px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 1vh;
  & .divs {
    font-size: 1.1vw;
    font-weight: 600;
    border: 1px solid rgb(44, 44, 237);
    padding: 1vw;
    background-color: rgb(44, 44, 237);
    border-radius: 10px;
    color: #dadada;
    cursor: pointer;
  }
}
.texts{
    display: none;
    width: 50%;
}