* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
  height: 100vh;
}
#btn1 {
  padding: 2vw;
  background-color: rgb(73, 73, 255);
  border: 0;
  border-radius: 10px;
  font-size: 1.1vw;
  color: rgb(210, 210, 210);
}

.makeRed {
  color: red;
}
.error {
  color: red;
  font-size: 12px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vh;
  & .divs {
    font-size: 1.1vw;
    font-weight: 600;
    border: 1px solid rgb(44, 44, 237);
    padding: 1vw;
    background-color: rgb(44, 44, 237);
    border-radius: 10px;
    color: #dadada;
    cursor: pointer;
  }
}
.texts {
  display: none;
  width: 50%;
}

#elem {
  width: 100%;
  height: 20%;
  /* background-color: blueviolet; */
  padding-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .center {
    height: 5%;
    width: 20%;
    background-color: #dadada;
    border-radius: 30px;

    & .progress {
      width: 0%;
      height: 100%;
      background-color: rgb(0, 204, 0);
      border-radius: 30px;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }
    & .scroll {
      width: 0%;
      height: 100%;
      background-color: rgb(0, 204, 0);
      border-radius: 30px;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    }
    & .downloadCompleted {
      font-weight: 500;
      display: none;
    }
  }
}

.box1 {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & #Search {
    width: 50vw;
    height: 5vh;
    border-radius: 8px;
    font-size: 1.2vw;
    outline-color: blue;
    margin-bottom: 1vh;
  }
  & .people {
    width: 100%;
    height: 80%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    & .person {
      display: flex;
      width: 8%;
      justify-content: center;
      align-items: center;

      flex-direction: column;
      /* background-color: #e70202; */
      & .img {
        width: 100%;
        background-color: blanchedalmond;
        border-radius: 50%;
        overflow: hidden;
        & img {
          width: 100%;
          aspect-ratio: 1;
          object-fit: cover;
        }
      }
    }
  }
}
